<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/29a389e1-fda0-44f2-9e5f-d9b90964420f/v3/index.json" />
    </packageSources>
</configuration>