<div class="row entry-row">
    <div class="col-12 col-sm-auto">
        <h1 class="content-header-title">{{ '::Groups' | abpLocalization }}</h1>
    </div>

    <div class="col-lg-auto pl-lg-0">
        <abp-breadcrumb></abp-breadcrumb>
    </div>

    <div class="col">
        <div class="text-lg-right pt-2">
            <button
                *abpPermission="'SgfDevs.Groups.Create'"
                class="btn btn-primary btn-sm"
                type="button"
                (click)="create()"
            >
                <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                {{ '::NewGroup' | abpLocalization }}
            </button>
        </div>
    </div>
</div>

<p>
    <a
        href="javascript:;"
        (click)="isFiltersHidden = !isFiltersHidden"
        [attr.aria-expanded]="!isFiltersHidden"
        aria-controls="advanced-content-filters"
    >
        {{ '::SeeAdvancedFilters' | abpLocalization }}
        <i [ngbCollapse]="!isFiltersHidden" class="fa fa-angle-down ml-1" aria-hidden="true"></i>
        <i [ngbCollapse]="isFiltersHidden" class="fa fa-angle-up ml-1" aria-hidden="true"></i>
    </a>
</p>

<div id="advanced-content-filters" [ngbCollapse]="isFiltersHidden">
    <div class="card mb-4">
        <div class="card-body">
            <form #filterForm (keyup.enter)="list.get()">
                <div class="row">
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="nameFilter">
                                {{ '::Name' | abpLocalization }}
                            </label>

                            <input
                                id="nameFilter"
                                class="form-control"
                                [(ngModel)]="filters.name"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="facebookLinkFilter">
                                {{ '::FacebookLink' | abpLocalization }}
                            </label>

                            <input
                                id="facebookLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.facebookLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="twitterLinkFilter">
                                {{ '::TwitterLink' | abpLocalization }}
                            </label>

                            <input
                                id="twitterLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.twitterLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="linkedInLinkFilter">
                                {{ '::LinkedInLink' | abpLocalization }}
                            </label>

                            <input
                                id="linkedInLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.linkedInLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="instagramLinkFilter">
                                {{ '::InstagramLink' | abpLocalization }}
                            </label>

                            <input
                                id="instagramLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.instagramLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="youTubeLinkFilter">
                                {{ '::YouTubeLink' | abpLocalization }}
                            </label>

                            <input
                                id="youTubeLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.youTubeLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="twitchLinkFilter">
                                {{ '::TwitchLink' | abpLocalization }}
                            </label>

                            <input
                                id="twitchLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.twitchLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="websiteLinkFilter">
                                {{ '::WebsiteLink' | abpLocalization }}
                            </label>

                            <input
                                id="websiteLinkFilter"
                                class="form-control"
                                [(ngModel)]="filters.websiteLink"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="websiteTitleFilter">
                                {{ '::WebsiteTitle' | abpLocalization }}
                            </label>

                            <input
                                id="websiteTitleFilter"
                                class="form-control"
                                [(ngModel)]="filters.websiteTitle"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="locationTextFilter">
                                {{ '::LocationText' | abpLocalization }}
                            </label>

                            <input
                                id="locationTextFilter"
                                class="form-control"
                                [(ngModel)]="filters.locationText"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="form-group">
                            <label for="establishedDateTextFilter">
                                {{ '::EstablishedDateText' | abpLocalization }}
                            </label>

                            <input
                                id="establishedDateTextFilter"
                                class="form-control"
                                [(ngModel)]="filters.establishedDateText"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>

                    <div class="col-12 col-sm-auto align-self-end mb-3">
                        <div class="row">
                            <div class="col-6 col-sm-auto">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary btn-block"
                                    (click)="clearFilters()"
                                >
                                    <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                                </button>
                            </div>
                            <div class="col-6 col-sm-auto">
                                <button type="button" class="btn btn-primary btn-block" (click)="list.get()">
                                    <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="data-tables-filter">
            <div class="input-group">
                <input
                    type="search"
                    class="form-control"
                    [placeholder]="'AbpUi::PagerSearch' | abpLocalization"
                    [(ngModel)]="list.filter"
                />
                <div class="input-group-append">
                    <button
                        [title]="'AbpUi::Search' | abpLocalization"
                        (click)="list.get()"
                        class="btn btn-sm btn-primary"
                    >
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
            <ngx-datatable-column
                [name]="'AbpUi::Actions' | abpLocalization"
                [maxWidth]="150"
                [width]="150"
                [sortable]="false"
            >
                <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
                    <div ngbDropdown container="body" class="d-inline-block">
                        <button
                            class="btn btn-primary btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            ngbDropdownToggle
                        >
                            <i class="fa fa-cog mr-1" aria-hidden="true"></i>
                            {{ 'AbpUi::Actions' | abpLocalization }}
                        </button>

                        <div ngbDropdownMenu>
                            <button
                                ngbDropdownItem
                                *abpPermission="'SgfDevs.Groups.Edit'"
                                (click)="update(row)"
                            >
                                {{ 'AbpUi::Edit' | abpLocalization }}
                            </button>

                            <button
                                ngbDropdownItem
                                *abpPermission="'SgfDevs.Groups.Delete'"
                                (click)="delete(row)"
                            >
                                {{ 'AbpUi::Delete' | abpLocalization }}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::FacebookLink' | abpLocalization }}" prop="facebookLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.facebookLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::TwitterLink' | abpLocalization }}" prop="twitterLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.twitterLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::LinkedInLink' | abpLocalization }}" prop="linkedInLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.linkedInLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::InstagramLink' | abpLocalization }}" prop="instagramLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.instagramLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::YouTubeLink' | abpLocalization }}" prop="youTubeLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.youTubeLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::TwitchLink' | abpLocalization }}" prop="twitchLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.twitchLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::WebsiteLink' | abpLocalization }}" prop="websiteLink">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.websiteLink }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::WebsiteTitle' | abpLocalization }}" prop="websiteTitle">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.websiteTitle }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::LocationText' | abpLocalization }}" prop="locationText">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.locationText }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ '::EstablishedDateText' | abpLocalization }}" prop="establishedDateText">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.establishedDateText }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<abp-modal [busy]="isModalBusy" [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>
            {{ (selected ? 'AbpUi::Edit' : '::NewGroup') | abpLocalization }}
        </h3>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="submitForm()" validateOnSubmit>
            <div class="mt-2 fade-in-top">
                <div class="form-group">
                    <label for="group-name">
                        {{ '::Name' | abpLocalization }} *
                    </label>

                    <input
                        id="group-name"
                        formControlName="name"
                        class="form-control"
                        autofocus
                    />
                </div>
                <div class="form-group">
                    <label for="group-facebook-link">
                        {{ '::FacebookLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-facebook-link"
                        formControlName="facebookLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-twitter-link">
                        {{ '::TwitterLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-twitter-link"
                        formControlName="twitterLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-linked-in-link">
                        {{ '::LinkedInLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-linked-in-link"
                        formControlName="linkedInLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-instagram-link">
                        {{ '::InstagramLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-instagram-link"
                        formControlName="instagramLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-you-tube-link">
                        {{ '::YouTubeLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-you-tube-link"
                        formControlName="youTubeLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-twitch-link">
                        {{ '::TwitchLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-twitch-link"
                        formControlName="twitchLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-website-link">
                        {{ '::WebsiteLink' | abpLocalization }}
                    </label>

                    <input
                        id="group-website-link"
                        formControlName="websiteLink"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-website-title">
                        {{ '::WebsiteTitle' | abpLocalization }}
                    </label>

                    <input
                        id="group-website-title"
                        formControlName="websiteTitle"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-location-text">
                        {{ '::LocationText' | abpLocalization }}
                    </label>

                    <input
                        id="group-location-text"
                        formControlName="locationText"
                        class="form-control"
                    />
                </div>
                <div class="form-group">
                    <label for="group-established-date-text">
                        {{ '::EstablishedDateText' | abpLocalization }}
                    </label>

                    <input
                        id="group-established-date-text"
                        formControlName="establishedDateText"
                        class="form-control"
                    />
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" #abpClose>
            {{ 'AbpUi::Cancel' | abpLocalization }}
        </button>

        <abp-button iconClass="fa fa-check" (click)="submitForm()" [disabled]="form?.invalid">
            {{ 'AbpUi::Save' | abpLocalization }}
        </abp-button>
    </ng-template>
</abp-modal>
